*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:'Poppins',sans-serif;
}

body{
background:#0f0f0f;
color:#fff;
display:flex;
flex-direction:column;
justify-content:flex-start;
min-height:100vh;
text-align:center;
padding:20px;
}

h1{
font-size:28px;
margin-bottom:10px;
color:#fff;
}

p{
font-size:15px;
margin-bottom:30px;
color:#ccc;
}

footer{
margin-top:30px;
font-size:14px;
color:#999;
}

footer a{
color:#F54927;
text-decoration:underline;
font-weight:500;
}
