@media(max-width:500px){

.container{
padding:30px 20px;
}

.profile-img{
width:180px;
height:180px;
}

.btn{
font-size:18px;
padding:16px 30px;
}

h1{
font-size:22px;
}

.timer-title{
font-size:20px;
}

.countdown span{
font-size:18px;
}

.countdown div{
min-width:60px;
padding:15px 10px;
}

}
